<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container-md ">
    <div class="col-md-10 d-grid gap-3">
        <h3>
            Search Posts
            <span class="htmx-indicator">
                    <img src="{{ url_for('static', path='img/bars.svg') }}" height="20" width="20">
            </span>
        </h3>
        <div hx-ext="client-side-templates" class="d-grid gap-3 shadow p-3 mb-5 bg-body rounded">
              <input class="form-control  " type="text"
               name="search_text" placeholder="Search posts..."
               value="{{search_text}}"
               hx-get="/search"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#search-results"
               hx-push-url="true"
               hx-indicator=".htmx-indicator">

            <div class="container shadow-sm p-3 mb-5 bg-body rounded"  id="search-results" >
            {% if not flag %}
                {% include 'info.html' %}
            {% else %}
                {% include 'search_results.html' %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/htmx.org@1.8.2"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</html>